__pycache__/
*.py[cod]
.venv/
venv/
env/
.env

database.db
.setup_code
.session_secret

uploads/*
!uploads/.gitkeep
temp_chunks/*
!temp_chunks/.gitkeep
thumbnails/*
!thumbnails/.gitkeep

.DS_Store
.vscode/
.idea/
